// mat-tab-group{
//   height: 80vh;
// }
.region-check{
  display: block;
  margin-top: 10px;
}
.file-group{
  display: flex;
}
.region-mark{
  display: flex;
}
.region-description{
  display: block;
  margin-left: 10px;
}
.this-title-padding {
  padding-top: 72px;
  padding-bottom: 72px;
}


.lg_logo{
  padding: 30px 10px;
}

.sm_logo{
  padding: 80px 10px;
}
