<form #formDirective="ngForm" [formGroup]="menuForm">

  <div class="row mt-5 mb-2">
    <div class="col-md-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name </mat-label>
        <input matInput formControlName="name">
        <mat-error
          *ngIf="menuForm.controls['name'].hasError('required') || menuForm.controls['name'].hasError('maxLength')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Component </mat-label>
        <input matInput formControlName="componentName">
        <mat-error *ngIf="menuForm.controls['componentName'].hasError('maxLength')">
          Max length <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Url </mat-label>
        <input matInput formControlName="url">
        <mat-error *ngIf="menuForm.controls['url'].hasError('required')">
          Url is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="outline">
        <mat-label>Parent Menu</mat-label>
        <mat-select formControlName="parentMenuId">
          <mat-option [value]="null"> Parent Menu</mat-option>
          <mat-option *ngFor="let item of menus" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="menuForm.controls['parentMenuId'].hasError('required')">
                  Menu type is <strong>required</strong>
              </mat-error> -->
      </mat-form-field>
    </div>

    <div class="col-md-2 btn-styler">
      <button mat-stroked-button color="primary" class="mt-2 mr-3" [disabled]="!menuForm.valid"
        (click)='save(formDirective)'>
        {{ (menuForm.controls['id'].value == null) ? 'Add' : 'Update' }}
      </button>
      <button mat-stroked-button color="primary" class="mt-2" (click)='resetFrom(formDirective)' [disabled]='!menuForm.touched && !menuForm.valid'> Clear </button>
    </div>

    <div class="col-md-2">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
  </div>
</form>

<div class="row">
  <div class=" col-md-12">
    <div class="mat-elevation-z8">
        <div class='region-root-list'>
            <table mat-table [dataSource]="dataSource" matSort >

                <!-- Position SL -->
              <ng-container matColumnDef="sl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SL#. </th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  {{ (dataSource.paginator.pageIndex * dataSource.paginator.pageSize) + i + 1 }} </td>
              </ng-container>

              <!-- Position Name -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Position ComponentName -->
              <ng-container matColumnDef="componentName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Component </th>
                  <td mat-cell *matCellDef="let element"> {{element.componentName}} </td>
              </ng-container>

              <!-- Position Url -->
              <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Url </th>
                <td mat-cell *matCellDef="let element"> {{element.url}} </td>
              </ng-container>

              <!-- Position Domain -->
              <ng-container matColumnDef="domain">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain </th>
                <td mat-cell *matCellDef="let element"> {{element.domain}} </td>
              </ng-container>

                <!-- Position Domain -->
                <ng-container matColumnDef="parent">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Menu </th>
                  <td mat-cell *matCellDef="let element"> {{element?.parentMenu?.name }} </td>
                </ng-container>

              <!-- Position Action -->
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let element">
                      <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.id)'><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-sm btn-danger" (click)='delete(element.id)'><i class="fa fa-remove"></i></button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columns; sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="pagination.pageSizes"
            [pageSize]="pagination.pageSize"></mat-paginator>
        </div>
    </div>
  </div>
</div>


